{% extends 'base.html.twig' %}

{% block title %}Your Characters{% endblock %}

{% block body %}
    <div class="row bg-gold">
        {% for char in characters %}
            <div class="col-3 d-flex flex-column bg-light-gold rounded shadow">
                <b>{{ char.name }}</b>
                <em class="mb-3">the {{ char.type }}</em>
                <p>HP: {{ char.hp }}</p>
                <p>Hit Die: {{ char.hitDie }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
