{% extends 'base.html.twig' %}

{% block title %}Your Characters{% endblock %}

{% block body %}
    <div class="row">
        {% for char in characters %}
            <div class="bg-light rounded shadow">
                <b>{{ char['name'] }}</b>
                <p>{{ char['type'] }}</p>
                <p>{{ char['hp'] }}</p>
                <p>{{ char['hitDie'] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
