:root{
    --dark-gold: rgba(102, 102, 102, 0.39);
    --gold: rgba(206, 202, 151, 0.411);
    --light-gold: rgb(247 242 182 / 41%);
}

a{
    text-decoration: none !important;
    color: whitesmoke !important;
}
a:hover{
    transition: all .25s linear !important;
    filter: brightness(0.2) !important;
    color: whitesmoke;
    cursor: pointer;
}

.bg-dark-gold{
    background-color: var(--dark-gold);
}
.bg-gold{
    background-color: var(--gold);
}
.d-grid{
    display: grid;
}
.bg-light-gold{
    background-color: var(--light-gold);
}
